@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
  }
  

@keyframes diagonal-flow {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

@keyframes logoPulse {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
  }
  
  .animate-logo-pulse {
    animation: logoPulse 4s ease-in-out infinite;
  }

@media (min-width: 768px) {
  html, body, * {
    cursor: url("/cursor-sniper.png") 16 16, none !important;
  }
  
  a, button, [role="button"], [onclick], [tabindex] {
    cursor: url("/cursor-sniper.png") 16 16, none !important;
  }
  
  html:active, body:active, *:active,
  a:active, button:active, [role="button"]:active {
    cursor: url('/cursor-sniper-fire.png') 16 16, none !important;
  }
}

a:hover, button:hover {
  transform: translateY(-1px);
}

.motion-element {
  will-change: transform, opacity;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

@container (min-width: 768px) {
  .responsive-text {
    font-size: 1.5rem;
  }
}

.critical {
  background: conic-gradient(from 230.29deg at 51.63% 52.16%, #1B0F3B 0deg, #1B0F3B 67.5deg, #432371 198.75deg, #6E2FB4 250.88deg, #1B0F3B 360deg);
  background-size: 300% 300%;
}




