@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
  }
  

@keyframes diagonal-flow {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

@keyframes logoPulse {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
  }
  
  .animate-logo-pulse {
    animation: logoPulse 4s ease-in-out infinite;
  }


/* Custom cursor only for desktop/larger screens */
@media (min-width: 768px) {
  html, body, * {
    cursor: url("/cursor-sniper.png") 16 16, none !important;
  }
  
  a, button, [role="button"], [onclick], [tabindex] {
    cursor: url("/cursor-sniper.png") 16 16, none !important;
  }
  
  html:active, body:active, *:active,
  a:active, button:active, [role="button"]:active {
    cursor: url('/cursor-sniper-fire.png') 16 16, none !important;
  }
}


a:hover, button:hover {
  transform: translateY(-1px);

}


    
  
